
body {
  padding: 0;
  margin : 0;
  overflow: hidden;
  cursor: none;
  font-family: 'Titillium Web', Titillium, Ubuntu, sans;
  /* font-style: italic;  */
  /* text-transform: uppercase; */
}

@keyframes background-movement {
    0% {
      background-position: 1000% 1000%;
    }

    33% {
      background-position: 1000% 0%;
    }

    66% {
      background-position: 0% 1000%;
    }
    100% {
      background-position: 1000% 1000%;
    }
}

.wrapper, .animated-bg {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  transition: background-color 1s ease;
  z-index: 2;
}


.blue-bg {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #00205b;
}

.start-bg-animation {
  /* background-color: rgba(122, 167, 207, 0); */
}



#my-loading {
  position: absolute;
  bottom: 20px;
  left: 30px;
  height: 35px;
  width: 400px;
  z-index: 5;
}

@keyframes outer-square-rot {
  0% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(225deg);
  }

  100% {
    transform: rotate(225deg);
  }
}

.outer-square {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 10px 2px;
  transform: rotate(45deg);
  position: absolute;
  transition: border-color 0.3s ease;
}

.inner-square {
  width: 15px;
  height: 15px;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  transform: rotate(45deg);
  border-radius: 4px 1px;
  top: 9px;
  left: 9px;
  transition: background-color 0.3s ease;
}

.rotate {
  animation: outer-square-rot 1s ease-in infinite !important;
}

.whiter {
  background-color: rgba(255,255,255,0.9);
}

#text {
    font-family: inherit;

    font-weight: 300;
    position: absolute;
    top: 10px;
    left: 60px;
    color: rgba(255,255,255,0.8);
    transition: color 0.5s ease;
    min-width: 700px !important;

  }

.inner > h2 {
  font-weight: 200 !important;
  font-size: 45px!important;
}

.outer {
  position: absolute;
  z-index: 5;
  top: 0;
  width: 100%;
}
.inner {
  padding: 100px 100px;
}

.inner > h1, .inner > h2 {
  font-size: 60px;
  font-family: inherit;
  font-weight: 300;
  color: rgba(255,255,255,0);
  text-align: center;
  transition: color 0.5s ease;
  width: 60%;
  margin: auto;  
}

.invisible {
  background-color: rgba(255,255,255,0) !important;
  border-color: rgba(255,255,255,0) !important;
  color: rgba(255,255,255,0) !important;
}

.make-visible {
    color: rgba(255,255,255,0.8) !important;

}

/* widget styles */

.widgets {
  padding: 50px 50px 100px 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  pointer-events: none;
}

.widget {
  transition: all 500ms ease-in-out;
}

.widget {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1, 1);
}

.widget.small {
  top: calc(100vh - 100px);
}

.widget.expanded {
  transform: scale(1.5, 1.5);
}

.widget.fadeIn {
  animation: fadeInLeft 500ms;
}

.widget.fadeOut {
  animation: fadeOutRight 500ms;
  opacity: 0;
}

.widget.hidden {
  display: none;
}

/* info box */
.info-box-widget {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: inherit;
  color: #fff;
}

/* weather */

.weather-widget {
  font-family: inherit;
  display: flex;
  align-items: center;
  color: #fff;
}

.weather-day-forecast-icon {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.weather-day-forecast {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.weather-day-forecast h2 {
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
}


.weather-day-forecast:first-child h2 {
  font-weight: bold;
}

.weather-day-forecast-temperature {
  font-size: 1.1em;
}

.weather-night {
  color: rgb(119,	141,	173);
}


/* animations */

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}


@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}


.info-box-widget > p {
  font-size: 2em;
}